body {
  font-family: Arial, sans-serif;
}
table {
  text-align: center;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;

}

table, th, td {
  border: 1px solid rgb(236, 17, 182);
  
}
table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
}

th, td {
  padding: 8px;
  text-align: left;
  text-align: center;
}

th {
  background-color: #beb0b0;
}

